html {
    box-sizing: border-box
}

*,
*::before,
*::after {
    box-sizing: inherit
}

body {
    color: #2f2f2f;
    font: 0.9em/1.35em 'avant garde', 'century Gothic', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

p {
    margin: 0;
    font-size: 18px
}

.group {
    content: " ";
    display: table;
}

.group:after {
    clear: both;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}


/*header*/

header {
    max-width: 100%;
    padding: 0;
    margin: 0;
    background: black
}

.navbar {
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0 auto;
    align-items: center;
}

.left,
.right {
    display: flex;
    padding: 1em
}

.left li:not(:last-child) {
    margin-right: 1em;
}

.left li:not(:last-child):after {
    content: ' | ';
    margin-left: .5em;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.left {
    align-items: baseline
}

.left li,
.right li {
    transition: all 0.5s ease-out;
}

.left li:hover,
.left li:focus {
    font-size: 1.3em;
    letter-spacing: .1em;
}

.right li:not(:last-child):hover,
.right li:not(:last-child):focus {
    border: 2px solid white;
    border-radius: 1em;
}

.right {
    align-items: center;
}

.right li:last-child a {
    padding: 1em 2em;
    background-color: black;
    border: 3px solid white;
    margin-left: 1.7em;
    transition: all 0.5s ease-out;
}

.right li:last-child a:hover {
    background-color: #ffffff;
    color: black;
}

.email {
    width: 56px;
    margin-left: 0.6em;
    margin-right: 0.6em;
    margin-top: 5px;
}

.right li a,
.left li a {
    color: white;
    font-weight: 900;
    text-transform: uppercase;
}


/*main*/

main {
    max-width: 100%;
    font-family: 'League Spartan', sans-serif;
    background-color: #dfdfdf;
}

.main {
    max-width: 80%;
    margin: 0 auto;
}

.post-header {
    max-width: 40%;
    font-size: 3.3em;
    line-height: 0.9em;
}

.post-header h2 {
    font-size: 1em;
    text-transform: uppercase;
    color: black;
    font-weight: 800;
}

.post-header h1 {
    font-size: 2em;
    text-transform: uppercase;
    color: black;
    font-weight: 800;
    line-height: 0.9em;
    margin: 0;
}

.post-header p {
    font-size: .5em;
    color: black
}

.float-right {
    float: right;
}

.float-right img {
    max-width: 400px;
}


/*footer*/